body {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
.el-card.is-always-shadow,
.el-card.is-hover-shadow:focus,
.el-card.is-hover-shadow:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.main-card {
  min-height: calc(100vh - 126px);
}
.operation-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  margin-top: 2.25rem;
}
.pagination-container {
  float: right;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.dialog-title-container {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.dialog-title-container i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.v-note-wrapper.fullscreen {
  height: 100vh !important;
}
.title {
  position: absolute;
  left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #202a34;
}
.title::before {
  content: '';
  width: 24px;
  height: 16px;
  border-left: 3px solid #0081ff;
  margin-right: 20px;
}
.side-nav-bar .el-scrollbar__wrap {
  overflow-x: hidden !important;
}
.el-upload-list__item-thumbnail {
  object-fit: cover !important;
}
.photo-container .el-checkbox__input {
  position: absolute !important;
  top: 0.3rem;
  left: 0.8rem;
}

.album-check-item .el-radio__input {
  position: absolute !important;
  top: 1.2rem;
  left: 0.2rem;
  z-index: 1000;
}
