<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.mapper.ArticleMapper">
    <resultMap id="ArticleCardDTOResultMap" type="com.aurora.model.dto.ArticleCardDTO">
        <id property="id" column="id"/>
        <result property="articleCover" column="article_cover"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleContent" column="article_content"/>
        <result property="isTop" column="is_top"/>
        <result property="isFeatured" column="is_featured"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="categoryName" column="category_name"/>
        <association property="author" javaType="com.aurora.entity.UserInfo">
            <result property="nickname" column="author_nickname"/>
            <result property="website" column="author_website"/>
            <result property="avatar" column="author_avatar"/>
        </association>
        <collection property="tags" ofType="com.aurora.entity.Tag">
            <result property="tagName" column="tag_name"/>
        </collection>
    </resultMap>
    <resultMap id="ArticleDTOResultMap" type="com.aurora.model.dto.ArticleDTO">
        <id property="id" column="id"/>
        <result property="articleCover" column="article_cover"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleContent" column="article_content"/>
        <result property="isTop" column="is_top"/>
        <result property="isFeatured" column="is_featured"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="categoryName" column="category_name"/>
        <result property="type" column="type"/>
        <result property="originalUrl" column="original_url"/>
        <association property="author" javaType="com.aurora.entity.UserInfo">
            <result property="nickname" column="author_nickname"/>
            <result property="website" column="author_website"/>
            <result property="avatar" column="author_avatar"/>
        </association>
        <collection property="tags" ofType="com.aurora.entity.Tag">
            <result property="tagName" column="tag_name"/>
        </collection>
    </resultMap>
    <resultMap id="articleAdminResultMap" type="com.aurora.model.dto.ArticleAdminDTO">
        <id property="id" column="id"/>
        <result property="articleCover" column="article_cover"/>
        <result property="articleTitle" column="article_title"/>
        <result property="isTop" column="is_top"/>
        <result property="isFeatured" column="is_featured"/>
        <result property="isDelete" column="is_delete"/>
        <result property="status" column="status"/>
        <result property="type" column="type"/>
        <result property="createTime" column="create_time"/>
        <result property="categoryName" column="category_name"/>
        <collection property="tagDTOs" ofType="com.aurora.model.dto.TagDTO">
            <id column="tag_id" property="id"/>
            <result column="tag_name" property="tagName"/>
        </collection>
    </resultMap>
    <select id="listTopAndFeaturedArticles" resultMap="ArticleCardDTOResultMap">
        SELECT a.id                            AS id,
               category_id,
               article_cover,
               article_title,
               SUBSTR(article_content, 1, 500) AS article_content,
               is_top,
               is_featured,
               status,
               a.create_time                   AS create_time,
               a.update_time                   AS update_time,
               u.nickname                      AS author_nickname,
               u.website                       AS author_website,
               u.avatar                        AS author_avatar,
               c.category_name                 AS category_name,
               tag_name
        FROM (SELECT id,
                     user_id,
                     category_id,
                     article_cover,
                     article_title,
                     article_content,
                     is_top,
                     is_featured,
                     is_delete,
                     status,
                     create_time,
                     update_time
              FROM t_article) a
                 LEFT JOIN t_article_tag at
                           ON a.id = at.article_id
                 LEFT JOIN t_tag t ON t.id = at.tag_id
                 LEFT JOIN t_category c ON a.category_id = c.id
                 LEFT JOIN t_user_info u ON a.user_id = u.id
        where a.is_delete = 0
          and a.status in (1, 2)
        order by is_top desc, is_featured desc
    </select>
    <select id="listArticles" resultMap="ArticleCardDTOResultMap">
        SELECT a.id                            AS id,
               article_cover,
               article_title,
               SUBSTR(article_content, 1, 500) AS article_content,
               is_top,
               is_featured,
               status,
               a.create_time                   AS create_time,
               a.update_time                   AS update_time,
               u.nickname                      AS author_nickname,
               u.website                       AS author_website,
               u.avatar                        AS author_avatar,
               c.category_name                 AS category_name,
               tag_name
        FROM (SELECT id,
                     user_id,
                     category_id,
                     article_cover,
                     article_title,
                     article_content,
                     is_top,
                     is_featured,
                     is_delete,
                     status,
                     create_time,
                     update_time
              FROM t_article
              where is_delete = 0
                and status in (1, 2)
              order by id desc
              LIMIT #{current} , #{size}) a
                 LEFT JOIN t_article_tag at
                           ON a.id = at.article_id
                 LEFT JOIN t_tag t ON t.id = at.tag_id
                 LEFT JOIN t_category c ON a.category_id = c.id
                 LEFT JOIN t_user_info u ON a.user_id = u.id
    </select>
    <select id="getArticlesByCategoryId" resultMap="ArticleCardDTOResultMap">
        SELECT a.id                            AS id,
               article_cover,
               article_title,
               SUBSTR(article_content, 1, 500) AS article_content,
               is_top,
               is_featured,
               status,
               a.create_time                   AS create_time,
               a.update_time                   AS update_time,
               u.nickname                      AS author_nickname,
               u.website                       AS author_website,
               u.avatar                        AS author_avatar,
               c.category_name                 AS category_name,
               tag_name
        FROM (SELECT id,
                     user_id,
                     category_id,
                     article_cover,
                     article_title,
                     article_content,
                     is_top,
                     is_featured,
                     is_delete,
                     status,
                     create_time,
                     update_time
              FROM t_article
              WHERE category_id = #{categoryId}
                and is_delete = 0
                and status in (1, 2)
              order by id desc
              LIMIT #{current} , #{size}) a
                 LEFT JOIN t_article_tag at
                           ON a.id = at.article_id
                 LEFT JOIN t_tag t ON t.id = at.tag_id
                 LEFT JOIN t_category c ON a.category_id = c.id
                 LEFT JOIN t_user_info u ON a.user_id = u.id
    </select>
    <select id="getArticleById" resultMap="ArticleDTOResultMap">
        SELECT a.id            AS id,
               article_cover,
               article_title,
               article_content,
               is_top,
               is_featured,
               type,
               original_url,
               a.create_time   AS create_time,
               a.update_time   AS update_time,
               u.nickname      AS author_nickname,
               u.website       AS author_website,
               u.avatar        AS author_avatar,
               c.category_name AS category_name,
               tag_name
        FROM (SELECT id,
                     user_id,
                     category_id,
                     article_cover,
                     article_title,
                     article_content,
                     is_top,
                     is_featured,
                     is_delete,
                     status,
                     type,
                     original_url,
                     create_time,
                     update_time
              FROM t_article
              WHERE id = #{articleId}
                and is_delete = 0
                and status in (1, 2)) a
                 LEFT JOIN t_article_tag at
                           ON a.id = at.article_id
                 LEFT JOIN t_tag t ON t.id = at.tag_id
                 LEFT JOIN t_category c ON a.category_id = c.id
                 LEFT JOIN t_user_info u ON a.user_id = u.id
    </select>
    <select id="getPreArticleById" resultMap="ArticleCardDTOResultMap">
        SELECT a.id                            AS id,
               article_cover,
               article_title,
               SUBSTR(article_content, 1, 500) AS article_content,
               is_top,
               is_featured,
               status,
               a.create_time                   AS create_time,
               a.update_time                   AS update_time,
               u.nickname                      AS author_nickname,
               u.website                       AS author_website,
               u.avatar                        AS author_avatar,
               c.category_name                 AS category_name,
               tag_name
        FROM (SELECT id,
                     user_id,
                     category_id,
                     article_cover,
                     article_title,
                     article_content,
                     is_top,
                     is_featured,
                     is_delete,
                     status,
                     create_time,
                     update_time
              FROM t_article
              WHERE id &lt; #{articleId}
                and is_delete = 0
                and status in (1, 2)
              order by id desc
              limit 0, 1) a
                 LEFT JOIN t_article_tag at
                           ON a.id = at.article_id
                 LEFT JOIN t_tag t ON t.id = at.tag_id
                 LEFT JOIN t_category c ON a.category_id = c.id
                 LEFT JOIN t_user_info u ON a.user_id = u.id
    </select>
    <select id="getNextArticleById" resultMap="ArticleCardDTOResultMap">
        SELECT a.id                            AS id,
               article_cover,
               article_title,
               SUBSTR(article_content, 1, 500) AS article_content,
               is_top,
               is_featured,
               status,
               a.create_time                   AS create_time,
               a.update_time                   AS update_time,
               u.nickname                      AS author_nickname,
               u.website                       AS author_website,
               u.avatar                        AS author_avatar,
               c.category_name                 AS category_name,
               tag_name
        FROM (SELECT id,
                     user_id,
                     category_id,
                     article_cover,
                     article_title,
                     article_content,
                     is_top,
                     is_featured,
                     is_delete,
                     status,
                     create_time,
                     update_time
              FROM t_article
              WHERE id &gt; #{articleId}
                and is_delete = 0
                and status in (1, 2)
              order by id
              limit 0,1) a
                 LEFT JOIN t_article_tag at
                           ON a.id = at.article_id
                 LEFT JOIN t_tag t ON t.id = at.tag_id
                 LEFT JOIN t_category c ON a.category_id = c.id
                 LEFT JOIN t_user_info u ON a.user_id = u.id
    </select>
    <select id="getFirstArticle" resultMap="ArticleCardDTOResultMap">
        SELECT a.id                            AS id,
               article_cover,
               article_title,
               SUBSTR(article_content, 1, 500) AS article_content,
               is_top,
               is_featured,
               status,
               a.create_time                   AS create_time,
               a.update_time                   AS update_time,
               u.nickname                      AS author_nickname,
               u.website                       AS author_website,
               u.avatar                        AS author_avatar,
               c.category_name                 AS category_name,
               tag_name
        FROM (SELECT id,
                     user_id,
                     category_id,
                     article_cover,
                     article_title,
                     article_content,
                     is_top,
                     is_featured,
                     is_delete,
                     status,
                     create_time,
                     update_time
              FROM t_article
              WHERE is_delete = 0
                and status in (1, 2)
              order by id
              limit 0,1) a
                 LEFT JOIN t_article_tag at
                           ON a.id = at.article_id
                 LEFT JOIN t_tag t ON t.id = at.tag_id
                 LEFT JOIN t_category c ON a.category_id = c.id
                 LEFT JOIN t_user_info u ON a.user_id = u.id
    </select>
    <select id="getLastArticle" resultMap="ArticleCardDTOResultMap">
        SELECT a.id                            AS id,
               article_cover,
               article_title,
               SUBSTR(article_content, 1, 500) AS article_content,
               is_top,
               is_featured,
               status,
               a.create_time                   AS create_time,
               a.update_time                   AS update_time,
               u.nickname                      AS author_nickname,
               u.website                       AS author_website,
               u.avatar                        AS author_avatar,
               c.category_name                 AS category_name,
               tag_name
        FROM (SELECT id,
                     user_id,
                     category_id,
                     article_cover,
                     article_title,
                     article_content,
                     is_top,
                     is_featured,
                     is_delete,
                     status,
                     create_time,
                     update_time
              FROM t_article
              WHERE is_delete = 0
                and status in (1, 2)
              order by id desc
              limit 0,1) a
                 LEFT JOIN t_article_tag at
                           ON a.id = at.article_id
                 LEFT JOIN t_tag t ON t.id = at.tag_id
                 LEFT JOIN t_category c ON a.category_id = c.id
                 LEFT JOIN t_user_info u ON a.user_id = u.id
    </select>
    <select id="listArticlesByTagId" resultMap="ArticleCardDTOResultMap">
        SELECT a.id                            AS id,
               category_id,
               article_cover,
               article_title,
               SUBSTR(article_content, 1, 500) AS article_content,
               is_top,
               is_featured,
               status,
               a.create_time                   AS create_time,
               a.update_time                   AS update_time,
               u.nickname                      AS author_nickname,
               u.website                       AS author_website,
               u.avatar                        AS author_avatar,
               c.category_name                 AS category_name,
               tag_name
        FROM t_article a
                 LEFT JOIN t_article_tag at
                           ON a.id = at.article_id
                 LEFT JOIN t_tag t ON t.id = at.tag_id
                 LEFT JOIN t_category c ON a.category_id = c.id
                 LEFT JOIN t_user_info u ON a.user_id = u.id
        WHERE at.tag_id = #{tagId}
          and a.is_delete = 0
          and status in (1, 2)
        LIMIT #{current} , #{size}
    </select>
    <select id="listArchives" resultType="com.aurora.model.dto.ArticleCardDTO">
        SELECT id,
               article_title,
               SUBSTR(article_content, 1, 500) AS article_content,
               create_time
        FROM t_article
        WHERE is_delete = 0
          and status = 1
        ORDER BY create_time DESC
        LIMIT #{current}, #{size}
    </select>
    <select id="countArticleAdmins" resultType="java.lang.Integer">
        SELECT
        count(DISTINCT a.id)
        from
        t_article a
        LEFT JOIN t_article_tag at on a.id = at.article_id
        <where>
            is_delete = #{conditionVO.isDelete}
            <if test="conditionVO.keywords != null">
                and article_title like concat('%',#{conditionVO.keywords},'%')
            </if>
            <if test="conditionVO.status != null">
                and `status` = #{conditionVO.status}
            </if>
            <if test="conditionVO.categoryId != null">
                and category_id = #{conditionVO.categoryId}
            </if>
            <if test="conditionVO.type != null">
                and type = #{conditionVO.type}
            </if>
            <if test="conditionVO.tagId != null">
                and at.tag_id = #{conditionVO.tagId}
            </if>
        </where>
    </select>
    <select id="listArticlesAdmin" resultMap="articleAdminResultMap">
        SELECT
        a.id,
        article_cover,
        article_title,
        is_top,
        is_featured,
        a.is_delete,
        a.status,
        a.type,
        a.create_time,
        category_name,
        t.id AS tag_id,
        t.tag_name
        FROM
        (
        SELECT
        id,
        article_cover,
        article_title,
        is_top,
        is_featured,
        is_delete,
        status,
        type,
        create_time,
        category_id
        FROM
        t_article
        <where>
            is_delete = #{conditionVO.isDelete}
            <if test="conditionVO.keywords != null">
                and article_title like concat('%',#{conditionVO.keywords},'%')
            </if>
            <if test="conditionVO.status != null">
                and status = #{conditionVO.status}
            </if>
            <if test="conditionVO.categoryId != null">
                and category_id = #{conditionVO.categoryId}
            </if>
            <if test="conditionVO.type!=null">
                and type = #{conditionVO.type}
            </if>
            <if test="conditionVO.tagId != null">
                and id in
                (
                SELECT
                article_id
                FROM
                t_article_tag
                WHERE
                tag_id = #{conditionVO.tagId}
                )
            </if>
        </where>
        ORDER BY
        is_top DESC,
        is_featured DESC,
        id DESC
        LIMIT #{current},#{size}
        ) a
        LEFT JOIN t_category c ON a.category_id = c.id
        LEFT JOIN t_article_tag at ON a.id = at.article_id
        LEFT JOIN t_tag t ON t.id = at.tag_id
        ORDER BY
        is_top DESC,
        is_featured DESC,
        a.id DESC
    </select>
    <select id="listArticleStatistics" resultType="com.aurora.model.dto.ArticleStatisticsDTO">
        SELECT DATE_FORMAT(create_time, "%Y-%m-%d") AS date,
               COUNT(1)                             AS count
        FROM t_article
        GROUP BY date
        ORDER BY date DESC
    </select>
</mapper>
