<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.mapper.RoleMapper">
    <resultMap id="roleMap" type="com.aurora.model.dto.RoleDTO">
        <id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="createTime" column="create_time"/>
        <result property="isDisable" column="is_disabled"/>
        <collection property="resourceIds" ofType="java.lang.Integer">
            <constructor>
                <arg column="resource_id"/>
            </constructor>
        </collection>
        <collection property="menuIds" ofType="java.lang.Integer">
            <constructor>
                <arg column="menu_id"/>
            </constructor>
        </collection>
    </resultMap>
    <resultMap id="resourceRoleResultMap" type="com.aurora.model.dto.ResourceRoleDTO">
        <id property="id" column="id"/>
        <result property="url" column="url"/>
        <result property="requestMethod" column="request_method"/>
        <collection property="roleList" ofType="java.lang.String">
            <constructor>
                <arg column="role_name"/>
            </constructor>
        </collection>
    </resultMap>
    <select id="listResourceRoles" resultMap="resourceRoleResultMap">
        select re.id as id,
               url,
               request_method,
               role_name
        from t_resource re
                 left join t_role_resource rr on re.id = rr.resource_id
                 left join t_role ro on rr.role_id = ro.id
        where re.parent_id is not null
          and is_anonymous = 0;
    </select>
    <select id="listRolesByUserInfoId" resultType="java.lang.String">
        SELECT role_name
        FROM t_role r
                 LEFT JOIN t_user_role ur ON r.id = ur.role_id
        WHERE ur.user_id = #{userInfoId}
    </select>
    <select id="listRoles" resultMap="roleMap">
        SELECT
        r.id,
        role_name,
        r.create_time,
        r.is_disable,
        rr.resource_id,
        rm.menu_id
        FROM
        (
        SELECT
        id,
        role_name,
        create_time,
        is_disable
        FROM
        t_role
        <where>
            <if test="conditionVO.keywords != null ">
                role_name like concat('%',#{conditionVO.keywords},'%')
            </if>
        </where>
        LIMIT #{current}, #{size}
        ) r
        LEFT JOIN t_role_resource rr ON r.id = rr.role_id
        LEFT JOIN t_role_menu rm on r.id = rm.role_id
        ORDER BY r.id
    </select>
</mapper>
