<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.mapper.TagMapper">
    <select id="listTags" resultType="com.aurora.model.dto.TagDTO">
        SELECT t.id,
               tag_name,
               COUNT(aat.article_id) AS count
        FROM t_tag t
                 LEFT JOIN (
            SELECT a.id      AS article_id,
                   at.tag_id AS tag_id
            FROM t_article_tag at
                     LEFT JOIN t_article a ON at.article_id = a.id
            WHERE a.is_delete = 0
              AND a.STATUS in (1, 2)
        ) aat ON t.id = aat.tag_id
        GROUP BY t.id
    </select>
    <select id="listTopTenTags" resultType="com.aurora.model.dto.TagDTO">
        SELECT t.id,
               tag_name,
               COUNT(aat.article_id) AS count
        FROM t_tag t
                 LEFT JOIN (
            SELECT a.id      AS article_id,
                   at.tag_id AS tag_id
            FROM t_article_tag at
                     LEFT JOIN t_article a ON at.article_id = a.id
            WHERE a.is_delete = 0
              AND a.STATUS in (1, 2)
        ) aat ON t.id = aat.tag_id
        GROUP BY t.id
        LIMIT 0, 10
    </select>
    <select id="listTagNamesByArticleId" resultType="java.lang.String">
        SELECT tag_name
        FROM t_tag t
                 JOIN t_article_tag at ON t.id = at.tag_id
        WHERE article_id = #{articleId}
    </select>
    <select id="listTagsAdmin" resultType="com.aurora.model.dto.TagAdminDTO">
        SELECT
        t.id,
        tag_name,
        COUNT( at.article_id ) AS article_count,
        t.create_time
        FROM
        t_tag t
        LEFT JOIN t_article_tag at ON t.id = at.tag_id
        <where>
            <if test="conditionVO.keywords != null">
                tag_name like concat('%',#{conditionVO.keywords},'%')
            </if>
        </where>
        GROUP BY
        t.id
        LIMIT #{current},#{size}
    </select>
</mapper>
